<html>
	<body>
		<p>
		<form action = "/tickets" method = "POST">
			<p><h3>Add Ticket</h3></p>
			<input type='text' value='Title' name='pg_title'/></br>
			<input type='text' value='Assigned To' name='pg_assigned'/></br>
			<textarea class='input' value='Content' name='pg_content' cols="40" rows="5"></textarea></br>
			<input type='submit' value='Add Ticket' name='pg_btn'/>
		</form>
		</p>

		<p>
		<p><h3>Current Tickets</h3></p>
		<table border="1">
			<thead>
				<tr>
					{% for col in colnames %}
					<th>{{ col }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for record in records %}
				<tr>
					{% for col in colnames %}
					<td>{{ record[col] }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		</p>
	</body>
</html>
