<html>
    <head>
        <title>Flask Intro - home page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container">
            <h1>Home Page</h1>
            <br>
        </div>
    </body>
</html>